<p id="notice"><%= notice %></p>

<p>
  <strong>Celebrityids:</strong>
  <%= @document_list_request.celebrityIds %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @document_list_request.limit %>
</p>

<p>
  <strong>View:</strong>
  <%= @document_list_request.view %>
</p>

<p>
  <strong>Orderby:</strong>
  <%= @document_list_request.orderBy %>
</p>

<p>
  <strong>Profileid:</strong>
  <%= @document_list_request.profileId %>
</p>

<p>
  <strong>Star0factor:</strong>
  <%= @document_list_request.star0Factor %>
</p>

<p>
  <strong>Star1factor:</strong>
  <%= @document_list_request.star1Factor %>
</p>

<p>
  <strong>Star2factor:</strong>
  <%= @document_list_request.star2Factor %>
</p>

<p>
  <strong>Star3factor:</strong>
  <%= @document_list_request.star3Factor %>
</p>

<p>
  <strong>Star4factor:</strong>
  <%= @document_list_request.star4Factor %>
</p>

<p>
  <strong>Docsentimentfactor:</strong>
  <%= @document_list_request.docSentimentFactor %>
</p>

<p>
  <strong>Celebsentimentfactor:</strong>
  <%= @document_list_request.celebSentimentFactor %>
</p>

<p>
  <strong>Unblockthreshold:</strong>
  <%= @document_list_request.unblockThreshold %>
</p>

<%= link_to 'Edit', edit_document_list_request_path(@document_list_request) %> |
<%= link_to 'Back', document_list_requests_path %>
