

<!--<%= form_tag('/newsfeed', :method=>'post', :multipart => true) do %>
 <p>
   Subject:<br />
   <%= text_field_tag "subject" %>
 </p>
 <p>
   <%= submit_tag 'Submit' %>
 </p>
<% end %>-->


<%="This tool uses profileId 1."%>

<!--table style="width:100%; table-layout:fixed;"-->
<table class=newsfeed >
<thead>
<tr>
<th class=lessnarrow >
<%= "id" %>
</th>
<th class=wide>
<%= "title" %>
</th>
<th class=medium>
<%= "dates" %>
</th>
<th class=lessnarrow >
<%= "article sentiment" %>
</th>
<th class=wide> 
<%= "celebs' name [rating] sentiment (id)" %>
</th>
<th class=wide> 
<%= "juicyness" %>
</th>
<th class=wide >
<%= "summary" %>
</th>
<th class=lessnarrow >
<%= "source" %>
</th>
</tr>
</thead>
<tbody >
<% JSON.parse(@newsdata).each do |article| %>
<tr>
<td >
<% url = "https://54.197.232.114:4002/admin/content/doc/#{article["id"]}" %>
<%= link_to article["id"], url %>
</td>
<td >
<%= link_to article["title"], article["url"] %>
</td>
<!-- 2013-11-25T17:23:52+0000 -->

<%begin
  pubDate = DateTime.strptime(article["pubDate"], '%FT%T%z').strftime("%F %T %z")
rescue ArgumentError
  pubDate = article["pubDate"]
end 
%>

<% begin
  addDate = DateTime.strptime(article["addDate"], '%FT%T%z').strftime("%F %T %z")
rescue ArgumentError
  addDate = article["addDate"]
end 
%>

<td >
<li>
<%="Pub: "+pubDate%>
</li>
<li>
<%="Add: "+addDate%>
</li>
</td>
<td >
<%= article["sentiment"] %>
</td>
<td >
<% article["celebrityMentions"].each do |celebrityMention| %>
  <li> <%= celebrityMention["celebrityName"]%>
  <br>
  <%= " [" %>

  <% found = 0 %>
  <% JSON.parse(@celebrityRating).each do |celebrityRating| %>
    <% if (celebrityMention["celebrityId"] == celebrityRating["celebrityId"]) %>
      <% found = 1 %>
      <% for i in -1..4 %>
        <% if (i == celebrityRating["rating"]) %>
          <b><%= i %></b>
        <% else %>
          <div style="display: inline" id="article"+id+"celeb"+celebrityMention["celebrityId"]+"link"+i >
            <%= render :partial => "rank1_div", :locals => { :therank => i, :thecelebrity => celebrityMention["celebrityId"]} %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if found == 0 %>
    <% for i in -1..4 %>
      <div style="display: inline" id="article"+id+"celeb"+celebrityMention["celebrityId"]+"link"+i>
        <%= render :partial => "rank1_div", :locals => { :therank => i, :thecelebrity => celebrityMention["celebrityId"]} %>
      </div>
    <% end %>
  <% end %>

  <%= "]" %>
  <br>
  <%= celebrityMention["sentiment"].to_s+" ("+ celebrityMention["celebrityId"].to_s+")"%></li>
<% end %>
</td>
<td>
<%= article["juicynessInfo"] %>
</td>
<td >
<%= article["summary"] %>
</td>
<td >
<%= article["source"]%>
</td>
</tr>
<% end %>
</tbody>
</table>
