


<%="This tool uses profileId 1."%>
<p>
<%="To change the rating of a celebrity, use 
https://54.197.232.114:4004/admin/profile/1/celebrityRating/{celebrityId}" %> 
<!--

<%= form_tag('/newsfeed', :method=>'post', :multipart => true) do %>
 <p>
   Subject:<br />
   <%= text_field_tag "subject" %>
 </p>
 <p>
   <%= submit_tag 'Submit' %>
 </p>
<% end %>-->

<!--table style="width:100%; table-layout:fixed;"-->
<table class=newsfeed >
<thead>
<tr>
<th class=lessnarrow >
<%= "id" %>
</th>
<th class=lessnarrow >
<%= "title" %>
</th>
<th class=lessnarrow >
<%= "add date" %>
</th>
<th class=lessnarrow >
<%= "article sentiment" %>
</th>
<th class=wide> 
<%= "celebs' name [rating] sentiment (id)" %>
</th>
<th class=wide> 
<%= "juicyness" %>
</th>
<th class=wide >
<%= "summary" %>
</th>
<th class=narrow >
<%= "source" %>
</th>
</tr>
</thead>
<tbody >
<% JSON.parse(@newsdata).each do |article| %>
<tr>
<td >
<% url = "https://54.197.232.114:4002/admin/content/doc/" + article["id"] %>
<%= link_to article["id"], url %>
</td>
<td >
<%= link_to article["title"], article["url"] %>
</td>
<td >
<!-- 2013-11-25T17:23:52+0000 -->

<%begin
  date = DateTime.strptime(article["addDate"], '%FT%T%z').strftime("%F %T %z")
rescue ArgumentError
  date = article["addDate"]
end
%>


<%= date %>

</td>
<td >
<%= article["sentiment"] %>
</td>
<td >
<% article["celebrityMentions"].each do |celebrityMention| %>
  <li> <%= celebrityMention["celebrityName"]%>
  <%= " [" %>
  <% JSON.parse(@celebrityRating).each do |celebrityRating| %>
    <% if celebrityMention["celebrityId"] == celebrityRating["celebrityId"] %>
      <%= celebrityRating["rating"].to_s %>
    <% end %>
  <% end %>
  <%= "]" %>
  <%= celebrityMention["sentiment"].to_s+" ("+ celebrityMention["celebrityId"].to_s+")"%></li>
<% end %>
</td>
<td>
<%= article["juiciness"] %>
</td>
<td >
<%= article["summary"] %>
</td>
<td >
<%= article["source"]%>
</td>
</tr>
<% end %>
</tbody>
</table>

<!--%= profiles %-->
