<!--table style="width:100%; table-layout:fixed;"-->
<table class=newsfeed >
<thead>
<tr>
<th class=lessnarrow >
<%= "id" %>
</th>
<th class=lessnarrow >
<%= "title" %>
</th>
<th class=wide >
<%= "summary" %>
</th>
<th class=lessnarrow >
<%= "add date" %>
</th>
<th class=narrow >
<%= "sentiment" %>
</th>
<th class=narrow >
<%= "url" %>
</th>
<th class=narrow > 
<%= "source" %>
</th>
<th class=lessnarrow> 
<%= "celebs" %>
</th>
</tr>
</thead>
<tbody >
<% JSON.parse(@newsdata).each do |article| %>
<tr>
<td >
<% url = "https://ec2-54-221-143-22.compute-1.amazonaws.com:4002/admin/content/doc/" + article["id"] %>
<%= link_to article["id"], url %>
</td>
<td >
<%= article["title"] %>
</td>
<td >
<%= article["summary"] %>
</td>
<td >
<!-- 2013-11-25T17:23:52+0000 -->

<%begin
  date = DateTime.strptime(article["addDate"], '%FT%T%z').strftime("%F %T %z")
rescue ArgumentError
  date = article["addDate"]
end
%>


<%= date %>

</td>
<td >
<%= article["sentiment"] %>
</td>
<td >
<%= article["url"] %>
</td>
<td >
<%= article["source"] %>
</td>
<td >
<% article["celebrityMentions"].each do |celebrityMention| %>
<li><%= celebrityMention["celebrityName"]+" "+celebrityMention["sentiment"].to_s%></li>
<% end %>
</td>
</tr>
<% end %>
</tbody>
</table>

<!--%= profiles %-->
