<!--table style="width:100%; table-layout:fixed;"-->
<table class=newsfeed >
<thead>
<tr>
<th class=lessnarrow >
<%= "id" %>
</th>
<th class=lessnarrow >
<%= "title" %>
</th>
<th class=wide >
<%= "summary" %>
</th>
<th class=lessnarrow >
<%= "add date" %>
</th>
<th class=narrow >
<%= "sentiment" %>
</th>
<th class=narrow >
<%= "url" %>
</th>
<th class=narrow > 
<%= "source" %>
</th>
</tr>
</thead>
<tbody >
<% JSON.parse(@cnnstr).each do |article| %>
<tr>
<td >
<%= article["id"] %>
</td>
<td >
<%= article["title"] %>
</td>
<td >
<%= article["summary"] %>
</td>
<td >
<%= article["addDate"] %>
</td>
<td >
<%= article["sentiment"] %>
</td>
<td >
<%= article["url"] %>
</td>
<td >
<%= article["source"] %>
</td>
</tr>
<% end %>
</tbody>
</table>
